html, body {
    height:100%;
}

#main{
    height: 80%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    
}

#content-panel {
    width: 85%;
    height: 100%;
    background-color: grey;
    border-style: solid;

}

#sidebar {
    width: 15%;
    height: 100%;
    background-color: blue;
    overflow-y: auto;
    border-style: solid;
}

