html, body {
    padding: 1%;
    height:100%;
    font-family: Arial, Helvetica, sans-serif;
}



#tabs{
    margin: 0% 1.25% 1%;
    border-width: 1px;
    border-style: solid;
    -webkit-box-shadow: 0px 8px 16px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 8px 16px 2px rgba(0,0,0,0.75);
    box-shadow: 0px 4px 16px 2px rgba(0,0,0,0.75);
}

#main{
    height: 80%;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

#content-panel {
    width: 80%;
    height: 100%;
    box-sizing: border-box;
    background-color: grey;
    box-shadow: 10px 10px 5px #aaaaaa;
    border-radius: 8px;
    -webkit-box-shadow: 0px 8px 16px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 8px 16px 2px rgba(0,0,0,0.75);
    box-shadow: 0px 8px 16px 2px rgba(0,0,0,0.75);
    overflow: hidden;
}

#sidebar {
    width: 15%;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    overflow: hidden;
    background-color: rgb(74, 84, 92);
    box-shadow: 10px 10px 5px #aaaaaa;
    border-radius: 8px;
    -webkit-box-shadow: 0px 8px 16px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 8px 16px 2px rgba(0,0,0,0.75);
    box-shadow: 0px 8px 16px 2px rgba(0,0,0,0.75);
}


#sidebar-title{
    background-image: linear-gradient(rgb(51, 71, 82), rgb(26, 37, 43));
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(206, 206, 206);
    width: 100%;
    padding: 2% 7%;
    box-sizing: border-box;
    -webkit-box-shadow: 0px -5px 59px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px -5px 59px 0px rgba(0,0,0,0.75);
    box-shadow: 0px -5px 20px 0px rgba(0,0,0,0.75);
    position: relative;
}


#sidebar-items{
    overflow-y: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow-y: auto; 
    padding-left: 2%;
    box-sizing: border-box;
}
   
        #sidebar a{
            background: grey;
            color:rgba(255, 255, 255, 0.781);
            background-color: rgb(74, 84, 92);
            font-family: Arial, Helvetica, sans-serif;
            width: 100%;
            padding: 3%;
            box-sizing: border-box;
            border-top: 1px solid rgb(214, 214, 214);
        }

        #sidebar a:link, #sidebar a:visited{
            text-decoration: none;
        }
        #sidebar a:hover, #sidebar a:active{
            font-weight: bold;
            background-image: linear-gradient(rgb(66,99,126), rgb(36, 55, 70));
        }

        .inactiveLink {
            pointer-events: none;
            cursor: default;
            min-height: 24px;
         }
         
        
#alerts-container{
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    background-color: white;
    padding: 1% 2%; 
}      


#phqo-container{
    height: 100%;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: space-around;
    overflow: auto;
    padding: 1%;
    box-sizing: border-box;
}

.phqo-column{
    display: flex;
    width: 33.3%;
    flex-direction: column;
    align-content: flex-start;
    box-sizing: border-box;
    background-color: white;
}

    .phqo-item{
        border-style: solid;
        border-width: 1px;
        border-top-left-radius: 8px;
        word-wrap: break-word;
        overflow: hidden;
        margin: 1%;
    }

        .phqo-header{
            padding: 2%;
            background-image: linear-gradient(rgb(255, 255, 255), rgb(92, 91, 91) 3%, 70%, rgb(66, 66, 66) 95%);
            font-weight: 500;
            display: flex;
            align-content: flex-start;
            align-items: center;
            justify-content: space-between;
            color: white;
            word-wrap: break-word;
            box-sizing: border-box;
        }
        .arrow-up {
            width: 0; 
            height: 0; 
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
            border-bottom: 5px solid black;
            cursor: pointer;
        }
    
        .phqo-item-body{
        word-wrap: break-word;
        padding: 1%;
        box-sizing: border-box;
        }