html, body {
    font-family: Arial, Helvetica, sans-serif;  
    height: 100%;
    
    padding: 3px;
    background-image: linear-gradient(65deg, #ffffff, #96dbd6);
    background-repeat: no-repeat;
    background-size: cover;
}

#main{
   background-color: transparent;
   border-radius: 8px;
   overflow: hidden;
   -webkit-box-shadow: 0px 30px 15px 0px rgba(0,0,0,0.24);
    -moz-box-shadow: 0px 30px 15px 0px rgba(0,0,0,0.24);
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.918);

}

#tabs{
    font-family: 'Courier New', Courier, monospace;
    box-sizing: border-box;
    background-image: linear-gradient(rgb(66, 115, 221), rgb(21, 53, 121));
}

#tab-content{
    background-color: rgb(51,159,218);
    border: none;
    box-sizing: border-box;
    padding: 5px 15px;
    height: auto;
    color: white;
}

    #tabs .nav{
        background-color: rgb(21, 79, 110);
        background-image: linear-gradient(rgb(21, 79, 110) 70%, rgb(17, 43, 99));
        width: 100%;
        border: none;   
    }

    #tabs .nav-item{
        background-image: linear-gradient(rgb(66, 115, 221), rgb(21, 53, 121));
    }


    #tabs .nav-link{
        color: white;
        font-family: Arial, Helvetica, sans-serif;
        transition: 0.2s;
    }

    #tabs a:hover.nav-link{
        color: white;
        background-color: rgb(28, 66, 150);
        -moz-box-shadow:    inset 0 0 10px #000000;
        -webkit-box-shadow: inset 0 0 10px #000000;
        box-shadow:         inset 0 0 10px #000000;
        border-bottom-style: none;

    }

    #tabs a.nav-link.active{
       background-color: rgb(51,159,218) !important;
       background-image: linear-gradient(rgba(197, 232, 252, 0.692), rgb(51,159,218) 4%) !important;
       
       border-color: rgba(4, 33, 48, 0.603);
       border-bottom-color:rgb(51,159,218);
       border-top-right-radius: 8px;
       border-top-left-radius: 8px;
       border-bottom-style: solid;
       box-shadow: none !important;
    }



#content-panel {
    overflow: hidden;
    box-sizing: border-box;
}

#display{
    background-color: white;
    border-left-style: solid;
    border-left-color: rgb(74, 84, 92);
    border-left-width: 3px;
    flex-grow: 1;

}

#sidebar {
    background-color: rgb(74, 84, 92);
    padding: 0px;
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#sidebar .title{
    position: -webkit-sticky;
    color: white;
    position: sticky;
    top: 0px;
    width: 100%;
    word-break: all;
    font-size: .9em;
    padding: 4px;
    background: linear-gradient(rgb(45, 88, 124), rgb(19, 51, 77)3%, 60%, rgb(22, 25, 27));
    box-shadow: 0 0 6px #000000;
}
         
#menubar{
    background: none;
    width: 100%;
    box-shadow: 0 0 30px #000000;
    padding-bottom: 40px;
    user-select: none;
}


    #menubar .nav{
        background-image: linear-gradient(rgb(66, 115, 221), rgb(21, 53, 121));
        width: 100%;
    }

    #menubar .nav-item{
        background-color: #394048;
        width: 100%;
        word-break: break-word;
        font-size: .9em;
    }

    #menubar .underline{
        border-bottom-style: solid;
        border-width: 1px;
        border-bottom-color: #626e7c;
        width: 100%;
        box-sizing: border-box;
        margin-left: 8px;
    }


    #menubar .nav-link{
        color: white;
        font-family: Arial, Helvetica, sans-serif;
        transition: 0.2s;
    }
    #menubar a:hover.nav-link{
        color: white;
        background-color: rgb(73, 122, 145);
        -moz-box-shadow:    inset 0 0 10px #000000;
        -webkit-box-shadow: inset 0 0 10px #000000;
        box-shadow:         inset 0 0 10px #000000;
    }

    #menubar a.nav-link.active{
        color: white !important;
        background-image: linear-gradient(rgb(82, 131, 156), #194E66 4% 50%, rgb(15, 48, 63) 95%) !important;
        box-shadow: none !important;
        border-left-style: solid;
        border-left-color: rgba(255, 255, 255, 0.507);
        border-left-width: 8px;
        
    }

#content-title{
    background-image: linear-gradient(rgb(55, 100, 133), #1B496A 5%, 70%, rgb(10, 30, 44) 95%);
    color: white;
    padding: 5px 20px;
    box-sizing: border-box;
}

      
#phqo-app{
    background: white;
    margin: 0 -10px;
}

.phqo-buttons{
    border-bottom: 1px solid #D2D3D4;
}

.col-md-4 > .card{
    margin: 4px;
    border: 1px solid;
    border-radius: 9px 0px 0px 0px;
    overflow: hidden;
}

        .card.purple{
            border-color: #7E2987;
            background: rgb(253, 234, 255);
        }
            .card.purple > .card-header{
                background: #7E2987;
                background-image: linear-gradient(#7E2987 2.5%, rgb(74, 20, 80));
                color: white;
            }
            .card.purple .card-body{
                border-color: #7E2987;
            }

        .card.grey{
            border-color: #9FA7AF;
            background: rgb(241, 242, 245);
        }
            .card.grey > .card-header{
                background: #9FA7AF;
                background-image: linear-gradient(#9FA7AF 2.5%, rgb(120, 129, 138));
                color: white;
            }
            .card.grey .card-body{
                border-color: #9FA7AF;
            }

        .card.pink{
            border-color: #FF909D;
            background: rgb(255, 247, 248);
        }
            .card.pink > .card-header{
                    background: #FF909D;
                    background-image: linear-gradient(#FF909D 2.5%, rgb(240, 110, 125));
                    color: black;
                }
            .card.pink .card-body{
                border-color: #FF909D;
            }


 .card > .card-header{
    text-shadow: 1px 1px #0000002c;
    border: none;
    border-top-right-radius: 0px;
    padding: 2px 7px;
    line-height: 18px;
    display: flex;
    justify-content: space-between;
}

            .card > .card-header > .options{
                min-width: 29px;
                box-sizing: content-box;
                padding-left: 6px;
            }

                .options i.fa-angle-up, .options a{
                    color: inherit;
                }


.card .card-body{
    padding: 0px;
    background: rgba(255, 255, 255, 0.596);
    box-sizing: content-box;
    margin: 8px;            
    border-width: 1px;
    border-style: solid;
    border-color: inherit;
}

.card-body p{
    padding: 4px 8px;
    margin: 0px;
    line-height: 20px;
}

.accordion > .card {
    margin: 0px;
    border-radius: 0px;
    border-style: none;
    padding: 0px;
}
.accordion .card-body{
    border-style: none;
}

.accordion > .card > .card-header{
    background:rgba(255, 255, 255, 0.596);
    border-radius: 0px;
    border-top-style: solid;
    border-top-color: rgb(182, 182, 182);
    border-top-width: 1px;
    padding: 0px;
    word-break: break-all;
}
.accordion > .card.first > .card-header{
    border-top: 0px;
}


.accordion .btn{
    border-style: none;
    padding: 0 3px;
    color: black;
    white-space:normal !important;
    word-break: break-word;
    text-align: left; 
}

.collapse-all{
    font-size: .8em;
    text-align: right;
    cursor: pointer;
    padding: 2px 10px 0px;
    margin: 0px;
    margin-left: auto;
}


#application{
    overflow: auto;
}


#alerts{
    padding: 25px;
}

#alerts h5, #alerts h3{
    font-weight: bold;
}



#allergies{
}



#clinical-notes{

}

        .clin-notes-nav{
            background-color: #E2E6EA;
            border: solid 1px #939495;
            min-height: 70vh;
            overflow: auto;
        }

            .clin-notes-nav-results{
                background-color: white;
                border: solid 1px #939495;
                font-size: 12px;
                overflow:auto;
                min-height: 60vh;
                
            }


            .clin-notes-nav-options{
                font-size: 12px;
                overflow:auto;
            }



        .clin-notes-results{
            min-height: 70vh;
            }

            .clin-notes-results-body{
                background-color: white;
                border: solid 1px #939495;
                overflow-y: scroll;
                min-height: 200px !important;  
            }

            .clin-notes-results-actions{
                min-height: 150px !important;
                border: solid 1px #939495;
                background-color:white;
                overflow: auto;
            }

            .actions-table{
                font-size: 12px;

            }

            .actions-table thead th{
                text-align: center;
            }

#lab{

}

.nowrap{
    white-space:nowrap;
}



    .flowsheet-row{
        background-color: #EBEBEB;
        padding: 5px;
        border-radius: 2px;
        margin-bottom: 4px;
        border:solid 1px rgb(207, 207, 207);
    }

    .flowsheet-datebar{
        background-color:#A0ADB7;
        justify-content: space-between;
        border-radius: 3px;
        margin-bottom: 4px;
        color: white;
        overflow: hidden;
        height: 22px;
    }
        .datebar-date{
            word-wrap: break-word;
            overflow: auto;
            height: 100%;
        }

      
          .flowsheet-datebar .arrows{
                background-color: #85939C;
                background-image: linear-gradient(#A0ADB7, rgb(112, 120, 126));
            }  
      

    .flowsheet-navigator{
        background-color: transparent !important; 
        min-height: 50px;      
        border-width: 0px;
    }

        .flowsheet-navigator-header{
            height: 30px;
            background: #AEC2CA;
            width:100%;
            box-sizing: border-box;
            border: solid 1px #AFB4B8
        }
        .flowsheet-navigator-body{
            background: #E2E6EA;
            width:100%;
            box-sizing: border-box;
            border: solid 1px black;
            min-height: 65vh;
        }

    .flowsheet-results-header{
        height: 30px;
        border: solid 1px #D0D0D0;
        background: #E2E6EA;
    }

    .flowsheet-results{
        background-color: white !important;
        border: solid 1px black;
        min-height: 65vh;

    }


    .flowsheet-button {
        background-color: #F4F4F4; 
        border: solid 1px #B7B7B7;
        padding: 0px 15px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 12px;
        cursor: pointer;
        transition: .1s;
      }
        .flowsheet-button:hover {
          -webkit-box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.75);
          -moz-box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.75);
          box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.75);
          transition: .1s;
        }

        .square{
            height: 18px;
            width: 18px;
            padding: 0px;
        }
    





#phqo{

}

#reports{

}

.table-borderless th {
    border: 0;
}
    .table-container{
         overflow: auto;
    }

.btn-light{
    background: rgb(209, 209, 209);
    border-color: rgb(179, 179, 179);
}

.thin-in-shadow{
    -webkit-box-shadow: inset 0px 0px 5px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: inset 0px 0px 5px 1px rgba(0,0,0,0.75);
    box-shadow: inset 0px 0px 5px 1px rgba(0,0,0,0.75);
}

#med-tab-content{
    border: 1px solid rgb(222, 226, 230);
    border-top-style: none;
}

#orders-accordion, #med-list-accordion{
    border: 1px solid #A1ACB3;
    border-top: 0px;
}

#orders-accordion .card-header, #med-list-accordion .card-header{
    background-color: #AEC2CA;
    border-top: 2px solid #A1ACB3;
    justify-content: center;
}

    #orders-accordion .card-body, #med-list-accordion .card-body{
        background-color: #E2E6EA;
        margin: 0px;
    }

        #orders-accordion button, #med-list-accordion button{
            text-align: center;
        }

        #orders-accordion button[aria-expanded="true"], #med-list-accordion button[aria-expanded="true"]{
            font-weight: bold;
        }

        #orders-accordion ul, #med-list-accordion ul{
            padding-left: 5px;
            margin: 0px;
        }

        #orders-accordion ul ul, #med-list-accordion ul ul{
            padding-left: 15px;
        }

        #orders-accordion li, #med-list-accordion li{
            padding-left: 5px;
            border-left: 1px dotted;
        }

#printpage{
    border: none;
    background: none;
    color: white;
    cursor: pointer;
}

.filter-display{
    border: 1px solid #D7D7D7;
    background-color: #EBEBEB;
    color: #3B85E5;
    margin-bottom: 5px;
    padding: 5px;
}

.filter-details{
    border: 1px solid #D7D7D7;
    margin-bottom: 5px;
    padding: 5px;
}

#med-tabs-container{
    height: 100%;
}